@model List<ResultCarWithBrandDto>

@{
    ViewData["Title"] = "Admin Car";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="col-xl-12">
    <h4 class="card-title">Araç Listesi</h4>
    <p class="card-subtitle mb-4">
        Araçlarla ilgili ekleme, güncelleme, silme ve listeleme işlemlerini bu sayfa üzerinden gerçekleştirebilirsiniz.
    </p>
    <div class="table-responsive table-hover">
        <table class="table mb-0">
            <thead class="thead-light">
                <tr>
                    <th>#</th>
                    <th>Marka</th>
                    <th>Model</th>
                    <th>Km</th>
                    <th>Vites</th>
                    <th>Koltuk</th>
                    <th>Bagaj</th>
                    <th>Yakıt</th>
                    <th>Sil</th>
                    <th>Güncelle</th>
                    <th>Detay</th>
                    <th>Sitede Gör</th>
                    <th>Fiyat Bilgileri</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.CarId</td>
                        <td>@item.BrandName</td>
                        <td>@item.Model</td>
                        <td>@item.Km</td>
                        <td>@item.Transmission</td>
                        <td>@item.Seat</td>
                        <td>@item.Luggage</td>
                        <td>@item.Fuel</td>
                        <td><a href="/AdminCar/RemoveCar/@item.CarId" class="btn btn-outline-danger">Sil</a></td>
                        <td><a href="/AdminCar/UpdateCar/@item.CarId" class="btn btn-outline-success">Güncelle</a></td>
                        <td><a href="/AdminCar/CarDetail/@item.CarId" class="btn btn-outline-info">Detay</a></td>
                        <td><a href="/Admin/CarFeature/Index/@item.CarId" class="btn btn-outline-info">Feature</a></td>
                        <td><a href="#/@item.CarId" class="btn btn-outline-warning">Sitede Gör</a></td>
                        <td><a href="#/@item.CarId" class="btn btn-outline-secondary">Fiyat Bilgileri</a></td>
                    </tr>
                }
            </tbody>
        </table>
        <div class=" mt-4">
            <a href="/AdminCar/CreateCar/" class="btn btn-outline-primary ">+ Yeni Araç Ekle</a>
        </div>
    </div>

</div>
