@model List<ResultAllBlogsWithAuthorDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="col-xl-12">
    <h4 class="card-title">Blog Listesi</h4>
    <p class="card-subtitle mb-4">
        Bloglarla ilgili ekleme, güncelleme, silme ve listeleme işlemlerini bu sayfa üzerinden gerçekleştirebilirsiniz.
    </p>
    <div class="table-responsive table-hover">
        <table class="table mb-0">
            <thead class="thead-light">
                <tr>
                    <th>#</th>
                    <th>Resim</th>
                    <th>Başlık</th>
                    <th>Yazar</th>
                    <th>Kategori</th>
                    <th>Tarih</th>
                    <th>Sil</th>
                    <th>Blogu Aç</th>
                    @* <th>Güncelle</th> *@
                    <th>Yorumlar</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.blogId</td>
                        <td><img src="@item.coverImageUrl" style="max-width:80px;" /></td>
                        <td>@item.name</td>
                        <td>@item.authorName</td>
                        <td>@item.categoryName</td>
                        <td>@item.createdDate</td>
                        <td> <a href="/Admin/Blog/RemoveBlog/@item.blogId" class="btn btn-outline-danger">Kaldır</a></td>
                        <td> <a href="/Blog/BlogDetail/@item.blogId" class="btn btn-outline-success" target="_blank">Sitede Gör</a></td>
                       @*  <td> <a href="/Admin/Blog/UpdateBlog/@item.blogId" class="btn btn-outline-success">Güncelle</a></td> *@
                        <td> <a href="/Admin/Blog/GetCommentsByBlogId/@item.blogId" class="btn btn-outline-info">Yorumlar</a></td>
                    </tr>
                }
            </tbody>
        </table>
       @*  <div class=" mt-4">
            <a href="/Admin/Blog/CreateBlog/" class="btn btn-outline-primary ">+ Yeni Blog Ekle</a>
        </div> *@
    </div>

</div>

